<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackit"
    android:debuggable="true"
    android:versionCode="1"
    android:versionName="1.1" >

    <permission
        android:name="com.example.trackit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.trackit.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/trackit"
        android:theme="@style/AppTheme" >
        <service android:name="LocationService" >
            <intent-filter>
                <action android:name="com.example.trackit.LocationService" />
            </intent-filter>
        </service>
        <service android:name="com.commonsware.cwac.locpoll.LocationPollerService" />
        <service android:name=".GCMIntentService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackLocationActivity"
            android:icon="@drawable/icon"
            android:label="@string/title_activity_track_location"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <receiver
            android:name=".LocationBoot"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.trackit" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.commonsware.cwac.locpoll.LocationPoller" />
        <receiver android:name="com.example.trackit.LocationReciever" />
    </application>

</manifest>